*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     height: 300vh;
 }

.container{
    margin-top: 5vh;
    width: 400px;
    height: 400px;
    background: blue;
    position: sticky;
    top: 0;
}

.content{
    position: relative;
    margin-top: 5vh;
    width: 400px;
    height: 400px;
    background: green;
}

