/* Hierarquia:
Id = 100
Class = 10
Tag = 1
*/

/*----------------------------------------*/

/*Chamando uma ID*/
#content {
  background-color: red;
}

/*Chamando uma CLASS*/
.text-green {
  color: green;
}

/*-------------------------------------------*/

/*Realizando a cascata*/
#content #new-div {
  background-color: grey;
}
